@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@400;700&family=Montserrat:wght@300;500;600;700&display=swap");
:root {
  --color-black: #181719;
  --color-gray: #828282;
  --color-gray-2: #a9a9a9;
  --color-white: #fff; }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 53%; } }
  @media only screen and (max-width: 25em) {
    html {
      font-size: 50%; } }

body {
  padding: 5rem 10rem;
  background-color: var(--color-black); }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 2.5rem 5rem; } }
  @media only screen and (max-width: 25em) {
    body {
      padding: 2.5rem 3rem; } }

.heading-1 {
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-size: 4.8rem;
  color: var(--color-white); }

.heading-2 {
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--color-white); }

.heading-3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--color-white); }

.u-mb-small {
  margin-bottom: 2rem; }

.u-mb-medium {
  margin-bottom: 4rem; }

.u-mb-large {
  margin-bottom: 5rem; }

.u-mb-huge {
  margin-bottom: 8rem; }

.header {
  display: flex;
  align-items: center; }
  .header__logo {
    font-family: "Crimson Pro", sans-serif;
    font-weight: 200;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--color-white);
    margin-right: auto;
    padding: 0.75rem 0.75rem;
    border: 1px solid currentColor;
    position: relative; }
  .header__checkbox {
    display: none; }
  .header__button {
    display: none;
    position: absolute;
    right: 5rem;
    height: 4rem;
    width: 4rem;
    background-color: var(--color-black);
    cursor: pointer;
    z-index: 200; }
    @media only screen and (max-width: 56.25em) {
      .header__button {
        display: block; } }
  .header__button-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2px;
    width: 4rem;
    background-color: var(--color-white);
    z-index: 199;
    transition: all .2s; }
    .header__button-icon::before, .header__button-icon::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      height: 2px;
      width: 4rem;
      background-color: var(--color-white); }
    .header__button-icon::before {
      transform: translateY(-1rem);
      transition: all .4s; }
    .header__button-icon::after {
      transform: translateY(1rem);
      transition: all .4s; }

.header__checkbox:checked + .header__button {
  position: fixed; }

.header__checkbox:checked + .header__button .header__button-icon {
  background-color: transparent; }

.header__checkbox:checked + .header__button .header__button-icon::before {
  transform: rotate(130deg); }

.header__checkbox:checked + .header__button .header__button-icon::after {
  transform: rotate(230deg); }

.header__checkbox:checked ~ .nav-mobile .nav-mobile__background {
  width: 100vw;
  opacity: 1; }

.header__checkbox:checked ~ .nav-mobile .nav-mobile__nav {
  opacity: 1; }

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .navigation {
      display: none; } }
  .navigation__link {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--color-white);
    text-decoration: none; }
    .navigation__link:not(:last-child) {
      margin-right: 10rem; }
      @media only screen and (max-width: 75em) {
        .navigation__link:not(:last-child) {
          margin-right: 5rem; } }
    .navigation__link--active {
      font-weight: 700; }

.nav-mobile__background {
  position: fixed;
  height: 100vh;
  width: 0;
  left: 0;
  top: 0;
  background-color: var(--color-black);
  opacity: 0;
  z-index: 100;
  transition: all 0.3s cubic-bezier(0, 1.08, 0.78, 0.88); }

.nav-mobile__nav {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  opacity: 0;
  transition: opacity .2s; }

.nav-mobile__list {
  list-style: none;
  text-align: center; }

.nav-mobile__item:not(:last-child) {
  margin-bottom: 2.5rem; }

.nav-mobile__link {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  color: var(--color-white);
  text-decoration: none; }
  .nav-mobile__link--active {
    font-weight: 700; }

.container {
  margin-top: 17.5rem;
  display: grid;
  grid-template-columns: 40% 1fr;
  row-gap: 5rem; }
  @media only screen and (max-width: 75em) {
    .container {
      margin-top: 12.5rem;
      margin-bottom: 5rem; } }

.info {
  padding-right: 6rem; }
  .info__paragraph {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 2.4rem;
    color: var(--color-white); }
  @media only screen and (max-width: 75em) {
    .info {
      grid-column: 1 / -1;
      padding-right: 0; } }

.interior {
  display: grid;
  grid-template-columns: repeat(14, 1fr); }
  @media only screen and (max-width: 75em) {
    .interior {
      grid-column: 1 / -1; } }
  .interior__box {
    grid-column: 6 / 14;
    transform: translateY(-50%);
    background-color: var(--color-black);
    padding: 2rem 4rem;
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .interior__box {
        grid-column: 4 / 14; } }
  .interior__box-role {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--color-gray); }
  .interior__box-description {
    grid-column: 1 / -1; }
  .interior__img {
    grid-column: 1 / -1;
    width: 100%;
    height: auto; }
  .interior__img-2 {
    width: 5rem;
    border-radius: 50%; }

.footer {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  color: var(--color-gray-2); }

.btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  color: var(--color-white);
  text-decoration: none; }
