.nav {
  display: flex;
  align-items: center;

  &__logo {
    font-family: "Crimson Pro", sans-serif;
    font-weight: 200;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--color-white);
    margin-right: auto;

    padding: 0.75rem 0.75rem;
    border: 1px solid currentColor;
    position: relative;
  }

  &__checkbox {
    display: none;
  }

  &__button {
    display: none;
    position: absolute;
    right: 5rem;
    height: 4rem;
    width: 4rem;
    background-color:var(--color-black);
    cursor: pointer;

    z-index: 200;

    @media only screen and (max-width: $media-screen-medium) {
      display: block;
    }

  }

  &__button-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2px;
    width: 4rem;
    background-color: var(--color-white);
    z-index: 199;

    transition: all .2s;

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      height: 2px;
      width: 4rem;
      background-color: var(--color-white);
    }

    &::before {
      transform: translateY(-1rem);
      transition: all .4s;
    }

    &::after {
      transform: translateY(1rem);
      transition: all .4s;
    }
  }
}

.nav__checkbox:checked + .nav__button {
  position: fixed;
}

.nav__checkbox:checked + .nav__button .nav__button-icon {
  background-color: transparent;
}

.nav__checkbox:checked + .nav__button .nav__button-icon::before {
  transform: rotate(130deg);
}

.nav__checkbox:checked + .nav__button .nav__button-icon::after {
  transform: rotate(230deg);
}

.nav__checkbox:checked ~ .nav-mobile .nav-mobile__background {
  width: 100vw;
  opacity: 1;
}

.nav__checkbox:checked ~ .nav-mobile .nav-mobile__nav {
  opacity: 1;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: $media-screen-medium) {
    display: none;
  }

  &__link {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--color-white);
    text-decoration: none;
    transition: color .2s;

    &:not(:last-child) {
      margin-right: 10rem;

      @media only screen and (max-width: $media-screen-large) {
        margin-right: 5rem;
      }
    }

    &:hover { color: var(--color-gray-2);}
    
    &--active {
      font-weight: 700;
    }
  }
}

.nav-mobile {
  //display: none;
  
  &__background {
    position: fixed;
    height: 100vh;
    width: 0;
    left: 0;
    top: 0;
    background-color: var(--color-black);
    opacity: 0;
    z-index: 100;

    transition: all .3s cubic-bezier(0,1.08,.78,.88);
  }

  &__nav {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    opacity: 0;

    transition: opacity .2s;
  }

  &__list {
    list-style: none;
    text-align: center;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }
  }

  &__link {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--color-white);
    text-decoration: none;

    &--active {
      font-weight: 700;
    }
  }
}

.container {
  margin-top: 17.5rem;

  display: grid;
  grid-template-columns: 40% 1fr;
  row-gap: 5rem;
  
  @media only screen and (max-width: $media-screen-large) {
    margin-top: 12.5rem;
    margin-bottom: 5rem;
  }
}

.info {
  padding-right: 6rem;
  &__paragraph {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 2.4rem;
    color: var(--color-white);
  }

  @media only screen and (max-width: $media-screen-large) {
    grid-column: 1 / -1;
    padding-right: 0;
  }
}

.interior {
  display: grid;
  grid-template-columns: repeat(14, 1fr);

  @media only screen and (max-width: $media-screen-large) {
    grid-column: 1 / -1;
  }
  
  &__box {
    grid-column: 6 / 14;
    transform: translateY(-50%);

    background-color: var(--color-black);
    padding: 2rem 4rem;

    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 2rem;

    @media only screen and (max-width: $media-screen-small) {
      grid-column: 4 / 14;
    }
  }

  &__box-role {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--color-gray);
  }

  &__box-description {
    grid-column: 1 / -1;
  }

  &__img {
    grid-column: 1 / -1;
    width: 100%;
    height: auto;
  }

  &__img-2 {
    width: 5rem;
    border-radius: 50%;
  }
}

.footer {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  color: var(--color-gray-2);
}